body{
  background-color:white;
}
h1
{
color: Black;
text-align: center;
}
#banner {
  color: white;
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  width: auto;
  height: 80px;
  background-color: Grey;
}
h2
{
color:black;
font-size: 18px;
font-weight: bold;
}
